/* 메인 배너 */
body {
  margin-left: 0;
  margin-right: 0;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #eee;
}

::-webkit-scrollbar-thumb {
  background: rgb(211, 211, 211);
}

.main {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
}

.main-int {
  /* position: absolute;
  top: 27%;
  left: 28%; */
  text-align: center;
  margin-top: 5%;
}

.main-intro {
  /* font-family: yeonaesidae, sans-serif; */
  font-family: 'Yeongdo-Rg';
  /* font-style: normal; */
  font-weight: 600;
  font-size: 4rem;
  color: white;
  margin-bottom: 10px;
  animation: fadein 1s ease-in-out;
  font-style: italic;
  text-shadow: -1px -1px 2px rgba(255, 255, 255, 0.5), 1px -1px 2px rgba(255, 255, 255, 0.5), -1px 1px 2px rgba(255, 255, 255, 0.5), 1px 1px 2px rgba(255, 255, 255, 0.5); /* 약간 흐린 흰색 테두리 추가 */
}

@keyframes fadein {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}

.bg {
  width: 100%;
  height: calc(100vh - 130px);
  background-image: url('../img/backimg.jpg');
  background-size: 100% 100%;
  overflow: hidden;
}
.bg::before {
  content: "";
  position: absolute;
  top: 1;
  left: 0;
  width: 100%;
  height: calc(100vh - 130px);
  background: rgba(0, 0, 0, 0.6); 
  z-index: 0;
  overflow: hidden;
}

.main-int {
  position: relative;
  z-index: 2; /* Ensure the content is above the overlay */
}

.bg-input {
  width: 30%;
  height: 50px;
  font-size: inherit;
  position: absolute;
  justify-content: space-between;
  align-items: center;
  transform: translateX(-50%);
  border-radius: 5px;
  right: 20%;
  top: 5%;
  padding: 0 1rem;
  background-color: rgba(255, 255, 255);
  border: 2px solid white;
}

.bg-input:focus {
  /* outline: none; */
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  background-color: white;
  border: 2px solid orange;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.bg-input::placeholder {
  font-size: 16px;
}

.searchbtn {
  background: none;
  border: none;
  cursor: pointer;
  position: absolute;
  right: 35.4%;
  top: 6.1%;
  color: orange;
}

.recommend-container {
  position: relative;
  top: 11.6%;
  left: 35.05%;
  width: 29.9%;
  height: 300px;
  overflow-y: auto;
}

.recommend-container::-webkit-scrollbar {
  width: 0;
}

.recommend {
  width: 100%;
  height: 20%;
  background-color: #fff;
  padding-left: 10px;
  padding-top: 3px;
  font-family: omnigothic, sans-serif;
  font-style: normal;
  cursor: pointer;
}

.region-icon {
  width: 5%;
  float: left;
  margin-top: 0.2%;
}

.recommend:hover {
  background-color: rgb(244, 243, 243);
  cursor: pointer;
}

.recommend1 {
  font-size: 15px;
  font-weight: 600;
  margin-top: 4px;
}

.recommend2 {
  font-size: 13px;
  color: gray;
  margin-left: 5%;
  margin-top: 0;
  font-weight: 300;
  padding-bottom: 5px;
}

/* 유명인 여행 일정 */

.content-body {
  font-family: source-han-sans-korean, sans-serif;
  font-style: normal;
  font-weight: 300;
}

.main-banner {
  margin-left: 200px;
  margin-right: 200px;
}

.main-card {
  margin-top: 50px;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  width: 100%;
}

.card7 {
  width: 30.6%;
  margin-bottom: 20px;
  cursor: pointer;
}

.card-bg {
  height: 14rem;
}

.card-title {
  margin-bottom: 0 !important;
}

.card-content-wrapper {
  font-size: 1rem;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card-content {
  font-size: 15px;
  color: gray;
  display: flex;
  margin-bottom: 0;
  justify-content: space-between;
}

.profile {
  float: left;
  margin-top: 2%;
  margin-right: 3.5%;
  display: flex;
}

/* 모바일용 */
@media screen and (max-width: 932px) {
  body {
    margin-left: 0;
    margin-right: 0;
  }

  ::-webkit-scrollbar {
    width: 5px;
  }

  .main-int {
    margin-top: 20%;
  }

  .main-intro {
    font-size: 60px;
  }

  .bg {
    height: 400px;
    width: 100%;
  }

  .bg-input {
    width: 60%;
    left: 50%;
    top: 9%;
    transform: translateX(-50%);
  }

  .searchbtn {
    left: 70%;
    top: 11%;
  }


  .recommend-container {
    top: 20%;
    left: 20.2%;
    width: 59.8%;
    height: 200px;
  }

  .region-icon {
    margin-right: 10px;
  }

  .recommend1 {
    font-size: 12px;
  }

  .recommend2 {
    font-size: 10px;
  }

  .main-banner {
    margin-left: 30px;
    margin-right: 30px;
  }

  .card7 {
    width: 100%;
  }

  .content-body {
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 10px;
  }
}
.search-btn-img{
  width: 30px;
  height:30px;
}
.orange-color{
  color:#ff9b00;
  font-family: 'Yeongdo-Rg';
}
.main-page-logo{
  height:50px;
  font-size: 60px!important;
  color: #ff9b00;
  font-family: 'Yeongdo-Rg';
  font-style: normal;
  font-weight: 700;
  /* text-shadow: -1px -1px 2px rgba(128, 128, 128, 0.5), 1px -1px 2px rgba(128, 128, 128, 0.5), -1px 1px 2px rgba(128, 128, 128, 0.5), 1px 1px 2px rgba(128, 128, 128, 0.5); 약간 흐린 회색 테두리 추가 */
  text-shadow: -1px -1px 2px rgba(255, 255, 255, 0.5), 1px -1px 2px rgba(255, 255, 255, 0.5), -1px 1px 2px rgba(255, 255, 255, 0.5), 1px 1px 2px rgba(255, 255, 255, 0.5); 
}